/********** 1 **********/
.box {
    display: flex;
    justify-content: center;
    border: 2px solid greenyellow;
    margin-top: 5px;
}

/********** 2 **********/
.box2 {
    background-color: #0080ff;
    color: #0080ff;
}

/********** 3 **********/
.top {
    height: 40px;
}
.box3-1 {
    background-color: #1e9ee5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3-2{
    background-color: #008a00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3-3{
    background-color: #004ff1;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3-4{
    background-color: #6901fe;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3-5{
    background-color: #ab00ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3-6{
    background-color: #dc0071;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3-7{
    background-color: #a20025;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********** 4 **********/
.Aaa{
    /* height: 70px; */
    background-color: #e4e1ea;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Apl22{
    background-color: #e4e1ea;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box11{
    border: 1px solid black;
}
.box13{
    border: 1px solid black;
}

.box201{
    background-color:#e4e1ea;
    display: flex;
    border: 1px solid rgb(169, 165, 165);
    color:rgb(97, 95, 95);
    height:55px;
    align-items: center;
}

.top{
    height: 30px;
}

.h1{
color: #0080ff;
}